include README.md
include LICENSE
include src/pyopmspe11/core/*
include src/pyopmspe11/templates/co2/*
include src/pyopmspe11/templates/common/*
include src/pyopmspe11/templates/reference_mesh/*
include src/pyopmspe11/utils/*
include src/pyopmspe11/visualization/*