include README.md
include LICENSE
include src/pyopmcsp11/core/*
include src/pyopmcsp11/templates/co2/*
include src/pyopmcsp11/templates/common/*
include src/pyopmcsp11/templates/reference_mesh/*
include src/pyopmcsp11/utils/*
include src/pyopmcsp11/visualization/*